<!doctype html>
<%inherit file="master.mak" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrintLure</title>
</head>
<body>
<!--
<div class="jumbotron">
    <h1>It Works!</h1>
    <p>${integer}</p>
</div>
-->

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6 padded">
        <iframe width="560" height="315" src="//www.youtube.com/embed/xab3HmzjmFE?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">

      <form class="form-signin">
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
    <div class="col-md-1">
    </div>
</div>

<div class="row">

    <div class="col-md-3">
        <h2>Interactive</h2>
        <p><em>PrintLure allows its users to create their perfect lure in a fun
            and interactive virtual workshop. No need to settle for anything
        less than your dream made into reality. Share your perfect lure online
    to allow others to benefit from your vision.</em></p>
        <p><a class="btn btn-default" target="_blank" href="http://flask.pocoo.org/">Customize&raquo;</a></p>
    </div><!--/span-->
                <!--Twitter Widget
                    <a class="twitter-timeline"  href="https://twitter.com/search?q=%23printlure"  data-widget-id="402127453675466752">Tweets about "#printlure"</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                -->

    <div class="col-md-3">
        <h2>3D Printed</h2>
        <p><em>Our lures are made using ground breaking 3D Printing
        technologies. This leads to stronger, more durable lures with superior
        control over density, splash, drag and zara-pup.
        </em></p>

        <p><a class="btn btn-default" target="_blank" href="https://en.wikipedia.org/wiki/3D_printing">Learn More&raquo;</a></p>
    </div><!--/span-->
    <div class="col-md-3">
        <h2>Free/Open Source</h2>
        <p><em>We're not just building lures, we're building a community. Our code, designs, models, and art assets are publicly available under Free/Open Source licenses.</em></p>

        <p><a class="btn btn-default" target="_blank" href="https://opensource.com/the-open-source-way">Contribute&raquo;</a></p>
    </div><!--/span-->
    <div class="col-md-3">

        <h2>Eco-Friendly</h2>
        <p><em>Your lures are made from completely biodegradable cornstarch
            based Polylactic Acid (PLA). Unlike traditional lures, PLA based
        lures do not release harmful chemicals into the environment.</em></p>
        <p><a class="btn btn-default" target="_blank" href="https://en.wikipedia.org/wiki/Polylactic_acid">Learn More&raquo;</a></p>
</div><!--/span-->
</div><!--/row-->

<!-- Maps Canvas
<div class="row">
    <div class="col-md-6" id="map-canvas"></div>
    </div>
</div>
-->
</body>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&sensor=false"></script>
-->
<!--
<script src="/static/js/script.js"></script>
-->
</html>
